/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .hero__contet h1 {
        max-width: 620px;
        letter-spacing: -3px;
    }
    .container {
        width: 90%;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .gallery__wrp .img__blk {
        flex-basis: 32.2%;
    }

    .Mission__info {
        height: 160px;
        margin-right: -180px;
    }

    .Campus__option ul a h5 {
        font-size: 16px;
    }
    .contactInfo___content ul {
    }
    
    .contactInfo___content h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .contactInfo___content p {
        font-size: 16px;
    }
    
    .contactInfo___content {
        padding-left: 20px;
    }
    
    .contactInfo___content h4 {margin-bottom: 0;}
    .quote-icon {
        max-width: 70px;
    }
    .contactInfo___wrp iframe {
        margin-bottom: -5px;
    }
}


/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    :root {

        --f18: 16px;
        --f20: 16px;
        --f22: 18px;
        --f24: 20px;
        --f28: 24px;
        --f30: 24px;
        --f32: 26px;
        --f36: 28px;
        --f40: 30px;
        --f48: 32px;
        --f52: 36px;
        --s100: 80px;
        --padding: 70px 0
    }


    .mb_50 {
        margin-bottom: 30px;
    }

    .gallery__wrp .img__blk {
        flex-basis: 32%;
    }

    .Mission__info {
        height: 140px;
        margin-right: 0px;
        max-width: 515px;
        margin-inline: auto;
    }

.Mission-area .sec__title {
    text-align: center;
}

.Mission__content a {
    margin: auto;
    width: max-content;
    display: block;
}

.Mission-area .sec__title h1 {
    margin-bottom: 12px;
}

    .Campus__option ul a h5 {
        font-size: 16px;
    }

    .footer-img {
        max-width: 500px;
    }

    .hero__contet h1 {
        letter-spacing: -2px;
        max-width: 600px;
    }

    .hero__contet .btns__grp a {
        line-height: 1;
        font-size: 18px;
        padding: 15px 30px;
        height: 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .thm_btn,
    .border__btn {
        padding: 10px 28px;
        font-size: 15px;
    }

    .sec__title h1 br {
        display: none;
    }

    .gallery__wrp {
        gap: 14px;
    }

    .Mission__img {
        margin: auto;
        margin-bottom: 30px;
        max-width: 100%;
        max-height: 400px;
        overflow: hidden;
    }



    .Mission-area .row {
        flex-direction: column-reverse;
    }

    .barnding__wrp {
        gap: 26px;
        padding: 0 11px;
    }

    .footer__content {
        text-align: center;
        margin-bottom: 36px;
    }

    .footer__content p {
        margin-inline: auto;
        margin-bottom: 0;
        max-width: 320px;
    }

    .social__link ul {
        justify-content: center;
    }
    .quote-icon {
        max-width: 70px;
    }

    .Visit__conetnt {
        margin-top: 30px;
    }
    .footer-area .sec__title {
        text-align: center;
    }
    .cover-area {
        height: 450px;
    }
}


/* small screen :320px. */
@media (max-width: 767px) {
    :root {

--f18: 16px;

--f20: 16px;

--f22: 18px;

--f24: 20px;

--f28: 24px;

--f30: 24px;

--f32: 26px;

--f36: 28px;

--f40: 30px;

--f48: 32px;

--f52: 32px;

--s100: 70px;

--padding: 60px 0;

}

.header-area.shrink{
}
    .mb_50 {
        margin-bottom: 30px;
    }

    .gallery__wrp .img__blk {
        flex-basis: 32%;
    }

    .Mission__info {
        height: 110px;
        margin-right: 0px;
        max-width: 515px;
        padding-right: 10px;
    }

    .Campus__option ul a h5 {
        font-size: 14px;
    }

    .footer-img {
        max-width: 300px;
    }

    .hero__contet h1 {
        letter-spacing: -2px;
        max-width: 600px;
    }

    .hero__contet .btns__grp a {
        line-height: 1;
        font-size: 18px;
        padding: 15px 30px;
        height: 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .thm_btn,
    .border__btn {
        padding: 10px 28px;
        font-size: 15px;
    }

    .sec__title h1 br {
        display: none;
    }

    .gallery__wrp {
        gap: 14px;
    }

    .Mission__img {
        margin: auto;
        margin-bottom: 30px;
        max-width: 100%;
        max-height: 350px;
        overflow: hidden;
    }



    .Mission-area .row {
        flex-direction: column-reverse;
    }

    .barnding__wrp {
        gap: 26px;
        padding: 0 11px;
    }

.barnding__wrp i {
    width: auto;
    display: block;
}

    .footer__content {
        text-align: center;
        margin-bottom: 0;
    }

    .footer__content p {
        margin-inline: auto;
        margin-bottom: 0;
        max-width: 320px;
    }

    .social__link ul {
        justify-content: center;
    }
    .contact-box {
        padding: 0 10px;
        margin: auto;
        box-shadow: none;
    }
    
    .hero__contet p {
        font-size: 16px;
    }
    
    .header__btn .thm_btn,.header-area.shrink .thm_btn {
        padding: 10px 18px;
        display: none;
    }
    
    .header__btn {
        gap: 15px;
    }
    
    .reviwe__slider .owl-nav {
    top: auto;
    bottom: 0;
    }

.owl-next.disabled,.owl-prev.disabled {
    opacity: .3;
}
    
    .Mission__info h3 {
        flex-basis: 33%;
        font-size: 14px;
        font-weight: 400;
    }
    
    .Mission__info h3 span {
        font-size: 24px;
    }
    
    
    .Campus__option {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .team__project img {
        max-width: 53px;
    }
    
    a.team__membar {
        max-width: 300px;
        margin-inline: auto;
    }
    .footer__nav h5 {
        margin-bottom: 20px;
    }
    
    .footer__nav a {
        margin-bottom: 10px;
    }
    
    .footer__nav {
        margin-top: 40px;
    }
    
    .footer-area .sec__title h1 {
        font-size: 24px;
    }

    .barnding__wrp {
        white-space: nowrap;
        will-change: transform;
        animation: marquee 12s linear infinite;
        width: 900px;
      }

.barnding-area {
    overflow: hidden;
}
      
      @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
      .cover-area {
        height: 400px;
    }
    
    .contactInfo___content {
        padding-left: 20px;
    }
    .header__top__nav ul {
        font-size: 13px;
        max-width: 300px;
        gap: 0;
        justify-content: space-between;
        margin: auto;
    }
    
    .header__top {
        padding: 10px 0;
    }
    
    .Mission__content {
        margin-top: 28px;
    }
    
    .Mission-area .sec__title h1 {
        margin-bottom: 10px;
    }
    
    .Equip__content h4 {
        font-size: 24px;
    }
    
    .Equip__content a {
        font-size: 12px;
    }
    
    .reviwe__slider {
    }
    
    .reviwe__slider__blk {
        width: calc(100% - 20px);
        padding: 20px;
    }
    
    .quote-icon {
        max-width: 44px;
        right: 14px;
        top: 10px;
    }
    
    .user__blk i {
        width: 60px;
        height: 60px;
    }
    
    .user__blk {
        gap: 12px;
    }
    
    .reviwe__slider__blk p {
        font-size: 14px;
    }
    
    .reviwe__slider .owl-nav {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .reviwe__slider__box {
        gap: 20px;
    }
    .Campus__option ul a i {
        width: 90px;
        height: 80px;
    }
    
    .Campus__option ul {
        min-width: 800px;
    }
    .input__blk.textarea {
        height: 130px;
    }
    
    .contactInfo___wrp iframe {
        height: 375px;
    }
    
    .contactInfo___content ul li p {
        font-size: 14px;
    }
    
    .contactInfo___content ul li {
        padding: 20px 0;
        gap: 15px;
    }
    
    .Visit__wrp {
        padding: 0;
        box-shadow: none;
    }
    
    .Visit__conetnt h2 {
        font-size: 24px;
    }
    
    .Visit__conetnt li i {
        width: 80px;
        height: 70px;
    }
    .contact-img {
        height: 260px;
        margin-bottom: 30px;
    }
}

/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

}

@media only screen and (max-width: 768px) {
    .aos-animate {
  
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
  
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
  
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
  }